.main-nav{
    height:112px;
    
    
}

body{
    margin:0;
}

#logo{
    height:112px;
    background-color: rgb(165, 134, 68);
   
}

.hero-background{

    height:1000px;
    background: linear-gradient(to bottom, #0e0a0a, #000049);
}

.nav-container{
    display: flex;
    justify-content: center;
}


.top-nav{
    display: flex;
    justify-content: flex-end;
}

.top-nav li {
    list-style: none;
    padding-inline-start: 29px;
}
.bottom-nav {
    display:flex;
    margin-inline-end: 2rem;
}

.bottom-nav li {
    list-style: none;
    padding-inline-start: 29px;
  
}

/* Start of hero background */

.hero-background{
    background-image: url('images/pool.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.25);
    background-blend-mode: multiply;
  
}



.hero-navigation{

width: 60%;
  margin: 0 auto;
  text-align: center;
  background:white;
  border: 2px solid black;
  position: absolute; /* set the position of the section to absolute */
  top: 15%; /* adjust the top position as needed */
  left:0;
  right:0;
  margin: 0 auto; 
  padding:2rem;
  border-radius: 20px;

 
}

.top-input{
    display:flex;
    padding-bottom:20px;
    gap:20px;
    justify-content:center;
    align-items: center;
}

.find-hotel{
    padding:5px 0;
    border-radius: 10px;
    background-color:black;
    color:white;
    width:10rem;

}


input[type="text"],select{
  
  width: 300px; /* adjust width as needed */
  font-size: 16px; /* set font size */
  padding: 10px; /* add padding */
  border-radius: 5px; /* add border radius */
  border: 1px solid #ccc; /* add border */
 
}

label{
    margin-inline-start:20px;
}

.bonus{
    position: absolute; 
  bottom: 400px; 
  left: 50%; 
  transform: translateX(-125%); 
  color:white;
 

  
  
  
}


.bonus button:last-child{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-block-start:3rem

}


.bonus button {
    padding-inline-start: 20px;
    padding-inline-end: 20px;
    padding-block-start:10px;
    padding-block-end:10px;
    border-radius: 16px;
    width:100%;

}

.last-offers{
    
    display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
  margin-block-start: 5rem;
  padding:2rem;
  border: 1px solid rgb(230, 230, 230); 
  margin-inline-start: 20rem;
  margin-inline-end: 20rem;
  border-radius: 1.5rem;
  background-color: rgb(243, 243, 243);
  


}

.last-offers img {

    width:120px;
    border-radius: 1.5rem;
    margin-inline-start: 3rem;
}



.last-offers button{
    padding: 1.5rem;
    border-radius: 1.5rem;
    width:20rem;
    margin-inline-end: 4rem;
    background-color: black;
    color:white;
}


/* End of last offers section*/


.popular-offers{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.popular-offers-header{
    display:flex;
    justify-content:space-between;
    width:80%;
    margin-block-start: 4rem;

}

.popular-offers-content{
    display:flex;
}

.blocks{
    width:400px;
    height:400px;
    background-image: url(images/pool.jpg);
    background-position: cover;
}

.inner-block{
    position:relative;
    width: 200px;
    height:200px;
   top:20px;
   left:100px;
    padding:100px
}

/* End of New Hotels*/


.take{
    width: 100%;
    background-color: black;
    height:20vh;


}



/* End of Take Section Hotels*/
