
:root {
    --d-margin-block-start: 2rem;
    --d-margin-inline-start: 2rem;
    --d-margin-block-end: 2rem;
    --d-line-height: 1.5rem;
  }


  h1,h2,h3{
    font-family: 'Nunito', sans-serif;
  }

  p,span,small,li,dd, blockquote{
    font-family: 'EB Garamond', serif;
  }

  menu{
    background-color:rgba(56,56,56,.8);
    margin-inline-start: 0;
   

  }


  #main-navigation{
    background-color: #066163;
    opacity: .9;
    margin-inline-start: 0;
    text-align: center;
  }

  #main-navigation a, #main-navigation li {
    color:#CDBE78;
  }

  html{
    background-image: url(images/pastel.jpg);
    background-size: cover;
  }


  .stars pre:hover{
    text-transform: uppercase;
    
}


menu button {
    padding:1.5rem;
    margin:1.5rem;
    border-radius: 20px;
    width:10rem;
}

menu button:hover{
    background-color:#CDBE78;
    transition: background-color .5s ease;
}



.duck-role > h2{

margin-inline-start: 30rem;

    
}


@keyframes example {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    10%,
    20% {
      transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    }
  
    30%,
    50%,
    70%,
    90% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
  
    40%,
    60%,
    80% {
      transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  

  .duck-role > h2 {
    animation-name: example;
    animation-duration: 4s;
  }

  @media screen and (max-width:659px)
  {
        menu {
            background-color: lavender;
           
        }


  }

  .swan { 
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin-block-start: 2rem;
    margin-block-end: 2rem;

  }

  .mandarin{display:flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
  }