.nav-left img ~ li:hover{
    font-size: x-large;
    color:#36454F;}
    

.options{

margin-block-start:20px;
width:58%;
padding:1rem;


}

ul {
    text-align: center;
}


.fans2{
    text-align: center;
}

.fans2::first-letter {
   color: red;
    
  }

  .friends{
    position:relative;
    margin-inline-start: 100px;
  }